body {
  font-family: 'Raleway', sans-serif !important;
}

.navbar {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: : none;
    opacity: 0;
}

.jumbotron{
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/static/cv/img/airbus-aircraft-airplane-airport-587063.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
}


.fa-linkedin-in {
  background: #007bb5;
  color: white;
  padding:10px;
}

.fa-github {
  
  padding:10px;
}
